/* Police*/
  
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body
{
    font-family: "Raleway", "Trebuchet";
    width: 1024px;
    margin: auto;
}
/* Bandeau-nav*/
.navbar
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

nav a
{
    text-decoration: none;
    color:#0065FC;
}
nav a:hover
{
    color:#0065FC;
    border-bottom:4px solid#DEEBFF;
}

nav li

{
    list-style-type: none;
    padding:20px;
}

nav ul
{
    display: flex;
    flex-direction: row;
    color:#106FFC;   
}

/*Bandeau texte*/
.texte_bandeau h1
{
    font-size: 1.2em;
}
.texte_bandeau p
{
    font-size: 0.9em;
}

/*recherche bouton*/
.bouton
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.bouton label
{
    color: white;
    background-color: #0065FC;
    width: 110px;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:0 12px 12px 0;
    font-weight: 450;
}

.bouton i
{
    background-color: #F2F2F2 ;
    width: 35px;
    height:35px;
    border-radius: 12px 0 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouton input
{
  color: white;
}

/* FILTRE */

.filtres ul
{
    display: flex;
    list-style-type: none; 
}

.filtres li
{
    border:2px solid #F2F2F2;
    border-radius:45px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    padding-right: 10px;
    height: 30px;
}

.filtres i
{  
    color: #0065FC;
}

.filtres div
{
    background-color:#DEEBFF;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
}
.filtres p
{
    font-weight: bold;
}