/* Police*/
  
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body
{
    font-family: "Raleway", "Trebuchet";
    width: 100%;
}
/* Bandeau-nav*/
.navbar
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

nav a
{
    text-decoration: none;
    color:#0065FC;
}
nav a:hover
{
    color:#0065FC;
    border-bottom:4px solid#DEEBFF;
}

nav li

{
    list-style-type: none;
    padding:20px;
}

nav ul
{
    display: flex;
    flex-direction: row;
    color:#106FFC;   
}

/*Bandeau texte*/
.texte_bandeau h1
{
    font-size: 1.2em;
}
.texte_bandeau p
{
    font-size: 0.9em;
}

/*recherche bouton*/
.bouton
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.bouton label
{
    color: white;
    background-color: #0065FC;
    width: 110px;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:0 12px 12px 0;
    font-weight: 450;
}

.bouton i
{
    background-color: #F2F2F2 ;
    width: 35px;
    height:35px;
    border-radius: 6px 0 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouton input
{
  border:2px solid #F2F2F2;
  height:35px;
}

/* filtres */

.filtres ul
{
    display: flex;
    list-style-type: none; 
}

.filtres li
{
    border:2px solid #F2F2F2;
    border-radius:45px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    padding-right: 10px;
    height: 30px;
}

.filtres i
{  
    color: #0065FC;
}

.filtres div
{
    background-color:#DEEBFF;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
}
.filtres
{
    display: flex;
    font-weight:bold;
    align-items:center;
}

/*information*/
.info
{
    display: flex;
    align-items: center;
    font-size: 0.85em;
}
.info i
{
    height: 15px;
    width: 15px;
    border: 2px solid #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:#0065FC;
    margin-right: 15px;
}  
/*Section*/
section
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
/*hébergement article*/
.article_hebergement
{
    background-color: #F2F2F2;
    border-radius:12px;
    padding: 1.25em;
}
article
{ 
    columns:3;
    padding: 1.25em;

}
.card_heberg
{
    height:auto;
    width: 100%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin-bottom: 1.25em;
    border-radius:12px;
}
.img_heberg img
{
    margin:0.3em;
    height:5em;
    width: 10em;
    border-radius:1.25em 1.25em 0 0;
}
.legend_heberg, p, h1
{
    font-size:0.6em;
    margin-right:49px;
    position:relative;
    bottom:14px;
    right:2px;
}
.stars_blue
{
    color:#0065FC;
    
}
.stars_grey
{
    color:#D9D9D9;
    margin-left:2px;
}
.stars
{
    display: flex;
    justify-content:flex-start;
    position:relative;
    background-color:white;
    bottom:40px;
}
aside
{
    background-color: #F2F2F2;
}
/*Footer*/
footer
{
    background-color:#F2F2F2;
    columns:3;
    padding:2.2em;
}
footer section
{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: center;
    height: 180px;
}
footer li
{
    list-style-type: none;
    padding:0.3em;    
}

footer h1
{
    font-size:1.1em;
    margin-left:48px;
    margin-top: 15px;
}